<div class="grid" aria-hidden="true">
  <div class="grid__horizon"></div>
  <div class="grid__deck">
    <div class="grid__grid-plane">
      <div class="grid__grid">
        <div class="grid__grid--vertical">
          <div class="grid__grid__line"></div>
          <div class="grid__grid__line"></div>
          <div class="grid__grid__line"></div>
          <div class="grid__grid__line"></div>
          <div class="grid__grid__line"></div>
          <div class="grid__grid__line"></div>
          <div class="grid__grid__line"></div>
          <div class="grid__grid__line"></div>
          <div class="grid__grid__line"></div>
          <div class="grid__grid__line"></div>
          <div class="grid__grid__line"></div>
        </div>
        <div class="grid__dots">
          <div class="grid__dots__dot"></div>
          <div class="grid__dots__dot"></div>
          <div class="grid__dots__dot"></div>
          <div class="grid__dots__dot"></div>
          <div class="grid__dots__dot"></div>
          <div class="grid__dots__dot"></div>
          <div class="grid__dots__dot"></div>
        </div>
        <div class="grid__grid--horizontal">
          <div class="grid__grid__line"></div>
          <div class="grid__grid__line"></div>
          <div class="grid__grid__line"></div>
          <div class="grid__grid__line"></div>
          <div class="grid__grid__line"></div>
          <div class="grid__grid__line"></div>
          <div class="grid__grid__line"></div>
          <div class="grid__grid__line"></div>
          <div class="grid__grid__line"></div>
          <div class="grid__grid__line"></div>
        </div>
      </div>
    </div>
  </div>
</div>