.header {
  position: relative;
  overflow: hidden;
  height: 50vh;
}
.sky {
  position: relative;
  display: flex;
  height: 75%;
  overflow: hidden;
}
.grid {
  position: relative;
  background: var(--colorBg);
  height: 25%;
}
.channel {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 25vw;
  padding-left: 5vw;
}
.channel:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 5vw;
  width: 5vw;
  transform-origin: bottom;
}
.channel:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 5vw;
  width: 5vw;
}
@keyframes channelJitter {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0.99);
  }
}
@keyframes channelGlow {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.8;
  }
}
.channel:nth-of-type(1):before,
.channel:nth-of-type(2):before,
.channel:nth-of-type(3):before,
.channel:nth-of-type(4):before {
  animation: channelJitter 350ms ease-out infinite alternate;
}
.channel:nth-of-type(1):after,
.channel:nth-of-type(2):after,
.channel:nth-of-type(3):after,
.channel:nth-of-type(4):after {
  animation: channelGlow 2500ms ease-in infinite alternate-reverse;
}
.channel:nth-of-type(1):before {
  height: 50%;
  background: var(--colorBlue);
  animation-delay: 50ms;
}
.channel:nth-of-type(1):after {
  height: 49%;
  background: linear-gradient(to top, var(--colorPurple), transparent);
  box-shadow: 0 0 2vw var(--colorBlue);
}
.channel:nth-of-type(2):before {
  height: 80%;
  background: var(--colorPurple);
  animation-delay: 100ms;
}
.channel:nth-of-type(2):after {
  height: 79%;
  background: linear-gradient(to top, var(--colorBlue), transparent);
  box-shadow: 0 0 2vw var(--colorPurple);
}
.channel:nth-of-type(3):before {
  height: 40%;
  background: var(--colorPink);
  animation-delay: 150ms;
}
.channel:nth-of-type(3):after {
  height: 39%;
  background: linear-gradient(to top, var(--colorBlue), transparent);
  box-shadow: 0 0 2vw var(--colorPink);
}
.channel:nth-of-type(4):before {
  height: 60%;
  background: var(--colorTurquoise);
  animation-delay: 200ms;
}
.channel:nth-of-type(4):after {
  height: 59%;
  background: linear-gradient(to top, var(--colorPink), transparent);
  box-shadow: 0 0 2vw var(--colorTurquoise);
}
.tagline {
  position: absolute;
  top: 3%;
  left: 50%;
  font-family: var(--fontHeader);
  transform: translateX(-50%);
  font-size: 2vw;
  white-space: nowrap;
  text-align: center;

  /* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
  font-size: calc(18px + (54 - 18) * ((100vw - 320px) / (1200 - 320)));
  color: rgba(255, 255, 255, 0.9);
  font-weight: 600;
  opacity: 0;
  animation-name: taglineFade;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
@media (min-width: 1200px) {
  .tagline {
    font-size: 54px;
  }
}
.taglineWith {
  opacity: 0;
  animation-name: taglineFade;
  animation-duration: 1.25s;
  animation-delay: 1.25s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
@keyframes taglineFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.logo {
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%) translateY(0);
  width: 50vw;
  max-width: 600px;
  pointer-events: none;
  animation-name: logoFlicker, logoRise;
  animation-duration: 3s, 5s;
  animation-delay: 1.25s, 2.25s;
  animation-fill-mode: both, both;
  animation-timing-function: linear, ease-out;
}
@keyframes logoRise {
  0% {
    transform: translateX(-50%) translateY(150%) scale(0.9);
    z-index: 0;
  }
  30% {
    transform: translateX(-50%) translateY(0) scale(1);
    z-index: 0;
  }
  70% {
    transform: translateX(-50%) translateY(0) scale(1);
    z-index: 2;
  }
  100% {
    transform: translateX(-50%) translateY(50%) scale(1.2);
    z-index: 2;
  }
}
@keyframes logoFlicker {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
