<div class="home-list">
  <div class="home-list__title">
    <h2 class="home-list__title__text">
      {{ partial "deco/bee" }}<span>Books</span>
    </h2>
  </div>
  <div class="home-list__items">
    {{ range first 4 (where .Data.Pages "Section" "book") }}
    <a class="home-list__item" href="{{ .URL }}" aria-label="{{ .Title }}">
      <article>
        <div class="home-list__item__title">{{ .Title }}</div>
        <img class="home-list__item__img" src="{{ .Params.image }}" />
      </article>
    </a>
    {{ end  }}
  </div>
</div>
