<div class="home-list">
  <div class="home-list__title">
    <h2 class="home-list__title__text">
      {{ partial "deco/triangle" }}
      <span>Courses</span>
    </h2>
  </div>
  <div class="home-list__items">
    {{ range first 4 (where .Data.Pages "Section" "course") }}
    <div>
      <div class="home-list__item">
        <div class="home-list__item__bg"></div>
        <div class="home-list__item__outline"></div>
        <a href="{{ .URL }}" class="home-list__item__link" aria-label="{{ .Title }}">
          <article>
            <img class="home-list__item__img" src="{{ .Params.image }}">
          </article>
        </a>
      </div>
    </div>
    {{ end }}
  </div>
</div>