<div class="single-footer">

  <div class="single-footer__sky">
  </div>
  <div class="single-footer__horizon"></div>
  <div class="single-footer__deck">
    <div class="single-footer__grid-plane">
      <div class="single-footer__grid">
        <div class="single-footer__grid--vertical">
          <div class="single-footer__grid__line"></div>
          <div class="single-footer__grid__line"></div>
          <div class="single-footer__grid__line"></div>
          <div class="single-footer__grid__line"></div>
          <div class="single-footer__grid__line"></div>
          <div class="single-footer__grid__line"></div>
          <div class="single-footer__grid__line"></div>
          <div class="single-footer__grid__line"></div>
          <div class="single-footer__grid__line"></div>
          <div class="single-footer__grid__line"></div>
          <div class="single-footer__grid__line"></div>
        </div>
        <div class="single-footer__dots">
          <div class="single-footer__dots__dot"></div>
          <div class="single-footer__dots__dot"></div>
          <div class="single-footer__dots__dot"></div>
          <div class="single-footer__dots__dot"></div>
          <div class="single-footer__dots__dot"></div>
          <div class="single-footer__dots__dot"></div>
          <div class="single-footer__dots__dot"></div>
        </div>
        <div class="single-footer__grid--horizontal">
          <div class="single-footer__grid__line"></div>
          <div class="single-footer__grid__line"></div>
          <div class="single-footer__grid__line"></div>
          <div class="single-footer__grid__line"></div>
          <div class="single-footer__grid__line"></div>
          <div class="single-footer__grid__line"></div>
          <div class="single-footer__grid__line"></div>
          <div class="single-footer__grid__line"></div>
          <div class="single-footer__grid__line"></div>
          <div class="single-footer__grid__line"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="single-footer__content">
    <ul class="single-footer__list">
      <li class="single-footer__list__item">
        if (!noted) { prose.licensed = '<a href="https://creativecommons.org/licenses/by/3.0/us/">CC 3.0 Attr</a>'; code.license
        = '<a href="https://opensource.org/licenses/MIT">MIT</a>' }
      </li>
      <li class="single-footer__list__item">
        articles.map(a => ({ ...a, author: '<a href="https://keybase.io/jaketrent">Jake Trent</a>' }))
      </li>
      <li class="single-footer__list__item">
        on('contentLike', _ => <a href="http://twitter.com/jaketrent">Follow</a> || <a href="{{ .Site.BaseURL }}/index.xml">Feed</a>)
      </li>
      <li class="single-footer__list__item">
        on('bugFound', _ => <a href="https://github.com/jaketrent/jaketrent-blog/issues/new">Report</a>)
      </li>
      <li class="single-footer__list__item">
        if (agent.isRobot) follow(<a href="{{ .Site.BaseURL }}/sitemap.xml">Sitemap</a>)
      </li>
      <li class="single-footer__list__item">
        console.log(process.env.ENGINE) // "<a href="https://gohugo.io/">Hugo</a>"
      </li>
    </ul>
  </div>
</div>