{{- partial "head.html" . -}}

{{- block "header" . -}}
  {{ partial "single/header.html" . }} 
{{- end -}}

{{- block "honeypot" . -}}{{- end -}}

<main>
  {{- block "main" . -}}
    <article class="single-article">
      <header class="single-article__header">
        <h1 class="single-article__title">{{ .Title }}</h1>
        <div class="single-article__meta">
          {{- block "meta" . -}}
            <time class="single-article__meta--date" pubdate datetime="{{ .Date }}">
              {{- dateFormat "2 Jan 2006" .Date -}}
            </time>
            <div>
              {{ .ReadingTime }} min read
            </div>
            <div>
              By Jake Trent
            </div>
            {{ if .Params.categories }}
              <div>In {{ index .Params.categories 0 }}</div>
            {{ end }}
            <div class="single-article__meta--tags">
              {{ if .Params.tags }}
                <nav>
                  {{ $baseUrl := .Site.BaseURL }} {{ range .Params.tags }}
                  <a href="{{ $baseUrl }}/tags/{{ . | urlize }}">{{ . }}</a>
                  {{ end }}
                </nav>
              {{ end }}
            </div>
          </div>
        {{- end -}}
      </header>

      <div class="single-article__read">
        <div class="single-article__image">
          {{- block "image" . -}}
            {{ if and .Params.image (not (eq .Params.layout "talk")) }}
              <div class="single-article__image__container">
                <img src="{{ .Params.image }}" class="single-article__image__img" />
              </div>
            {{ else }}
              <div class="single-article__image__placeholder"></div>
            {{ end }}
          {{ end }}
        </div>

        <div class="single-article__content markdown-content">
          {{ .Content }}
        </div>

        {{- block "content-footer" . -}} {{- end -}}
      </div>
    </article>

    {{ if in .Params.categories "Code" }}
      <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
      <script>hljs.initHighlightingOnLoad();</script>
    {{ end }}
  {{- end -}}
</main>

<footer class="single-footer">
  <div class="single-footer__sky"></div>
  {{ partial "grid" . }}
  <div class="single-footer__content">

    {{ partial "comments" . }}

    {{- block "disclosures" . -}}
      <div class="single-footer__disclosures">
        {{ partial "single/disclosures" .Params.disclosures }}
      </div>
    {{- end -}}

    {{ partial "single/footer-meta" . }}
  </div>
</footer>

{{- partial "foot.html" . -}}