{{- define "header" -}} {{ partial "single/header.html" . }} {{- end -}} {{- define "main" -}}
<article class="single-article">
  <header class="single-article__header">
    <h1 class="single-article__title">{{ .Title }}</h1>
    <div class="single-article__meta">
      <time class="single-article__meta--date" pubdate datetime="{{ .Date }}">
        {{- dateFormat "2 Jan 2006" .Date -}}
      </time>
      <div>
        29 min read
      </div>
      <div>
        By Jake Trent
      </div>
      <div>In Code</div>
      <div class="single-article__meta--tags">
        {{ if .Params.tags }}
        <nav>
          {{ $baseUrl := .Site.BaseURL }} {{ range .Params.tags }}
          <a href="{{ $baseUrl }}/tags/{{ . | urlize }}">{{ . }}</a>
          {{ end }}
        </nav>
        {{ end }}
      </div>
    </div>
  </header>

  <div class="single-article__read">

    <div class="single-article__image">
      {{ with .Params.image }}
        <div class="single-article__image__container">
          <img src="{{ . }}" class="single-article__image__img" />
        </div>
      {{ else }}
        <div class="single-article__image__placeholder"></div>
      {{ end }}
    </div>

    <div class="single-article__content markdown-content">
      {{ .Content }}
    </div>
  </div>

</article>

{{ if in .Params.categories "Code" }}
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script> {{ end }} {{- end -}}