{{- partial "head.html" . -}}

<main class="home-main">
  <div class="home-sky">
    <div class="home-channel home-channel--course">
      {{ partial "home/courses" . }}
    </div>
    <div class="home-channel home-channel--book">
      {{ partial "home/books" . }}
    </div>
    <div class="home-channel home-channel--article">
      {{ partial "home/articles" . }}
    </div>
    <div class="home-channel home-channel--talk">
      {{ partial "home/talks" . }}
    </div>
    <div class="home-logo">
      {{ partial "logo" . }}
    </div>
  </div>
  <div class="home-grid">
    {{ partial "grid" . }}
  </div>
</main>

{{- partial "foot.html" . -}}